{% extends 'base.html' %}

{% block content %}

<div class="chat-header">

    <img
        src="{{ other_user.profile.profile_picture.url }}"
        class="chat-header-pic">

    <h3>{{ other_user.username }}</h3>

</div>

<div id="chat-box">

    {% for msg in chat_messages %}

    {% if msg.sender == request.user %}

        <div class="my-message">
            {{ msg.message }}
        </div>

    {% else %}

        <div class="other-message">
            {{ msg.message }}
        </div>

    {% endif %}

{% endfor %}

</div>

<input
    id="message-input"
    placeholder="Type message...">

<button id="send-btn">
    Send
</button>

<script>

const roomName = "{{ room_name }}";

/* NEW */
const sender = "{{ request.user.username }}";
const receiver = "{{ other_user.username }}";

const wsScheme =
    window.location.protocol === "https:"
    ? "wss://"
    : "ws://";

const socket = new WebSocket(
    wsScheme +
    window.location.host +
    "/ws/chat/" +
    roomName +
    "/"
);

socket.onopen = function() {
    console.log("SOCKET CONNECTED");
};

socket.onerror = function(error) {
    console.log("SOCKET ERROR", error);
};

socket.onclose = function() {
    console.log("SOCKET CLOSED");
};

socket.onmessage = function(e) {

    console.log("ONMESSAGE FIRED");

    let data = JSON.parse(e.data);

    console.log("DATA =", data);

    let chatBox =
        document.getElementById("chat-box");

    if(data.sender === sender){

        console.log("MY MESSAGE");

        chatBox.innerHTML +=
            "<div class='my-message'>" +
            data.message +
            "</div>";
    }

    else{

        console.log("OTHER MESSAGE");

        chatBox.innerHTML +=
            "<div class='other-message'>" +
            data.message +
            "</div>";
    }

    chatBox.scrollTop =
        chatBox.scrollHeight;
};

let chatBox =
document.getElementById("chat-box");

chatBox.scrollTop =
chatBox.scrollHeight;

document
.getElementById("send-btn")
.addEventListener("click", function() {

    let input =
    document.getElementById("message-input");

    if(input.value.trim() === ""){
        return;
    }

    console.log("CLICKED");

    socket.send(
        JSON.stringify({

            "message": input.value,

            "sender": sender,

            "receiver": receiver

        })
    );

    input.value = "";
});

document
.getElementById("message-input")
.addEventListener("keydown", function(e) {

    console.log("KEY =", e.key);

    if(e.key === "Enter") {

        e.preventDefault();

        document
        .getElementById("send-btn")
        .click();
    }
});
</script>
{% endblock %}