{% extends 'base.html' %}

{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <div class="auth-logo">
            ⚡ Vibely
        </div>

        <h2>Welcome Back</h2>

        <p class="auth-subtitle">
            Login to continue sharing moments
        </p>

        <form method="POST">

            {% csrf_token %}

            <div class="input-group">

                <label>Username</label>

                {{ form.username }}

            </div>

            <div class="input-group">

                <label>Password</label>

                {{ form.password }}

            </div>

            <button type="submit"
                    class="auth-btn">

                Login

            </button>

        </form>

        <a href="/register/"
           class="switch-auth">

           Don’t have an account? Register

        </a>

    </div>

</div>

{% endblock %}