{% extends 'base.html' %}

{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <div class="auth-logo">
            ⚡ Vibely
        </div>

        <h2>Create Account</h2>

        <p class="auth-subtitle">
            Join Vibely and start connecting
        </p>

        <form method="POST">

            {% csrf_token %}

            <div class="input-group">

                <label>Username</label>

                {{ form.username }}

            </div>

            <div class="input-group">

                <label>Email</label>

                {{ form.email }}

            </div>

            <div class="input-group">

                <label>Password</label>

                {{ form.password1 }}

            </div>

            <div class="input-group">

                <label>Confirm Password</label>

                {{ form.password2 }}

            </div>

            <button type="submit"
                    class="auth-btn">

                Register

            </button>

        </form>

        <a href="/login/"
           class="switch-auth">

           Already have an account? Login

        </a>

    </div>

</div>

{% endblock %}