{% load static %}

<!DOCTYPE html>
<html>
<head>

    <title>VIBELY</title>

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">
          {% load static %}

<link
    rel="icon"
    type="image/png"
    href="{% static 'images/favicon.png' %}">

    <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

<nav class="top-nav">
<div class="logo">
    <img src="/static/images/vibely-logo.png"
         class="nav-logo">

    Vibely
</div>

    <div class="top-right-section">

    {% if user.is_authenticated %}

     <a href="/messages/">
    <i class="fa-solid fa-paper-plane"></i>
</a>

<a href="/notifications/">
    <i class="fa-solid fa-bell"></i>
    {{ notification_count }}
</a>

<a href="/profile/">
    <i class="fa-solid fa-user"></i>
</a>

        <a href="/logout/" class="logout-btn">
            Logout
        </a>

    {% else %}

        <a href="/login/" class="login-btn">
            Log in
        </a>

        <a href="/register/" class="signup-btn">
            Sign up
        </a>

    {% endif %}

    </div>

</nav>

<div class="container">

   

    {% block content %}
    {% endblock %}

</div>

<script>

function toggleComments(postId){

    let comments =
    document.getElementById(
        "comments-" + postId
    );

    if(comments.style.display==="none"){

        comments.style.display="block";

    }else{

        comments.style.display="none";

    }
}

</script>

<div class="bottom-nav">

    <a href="/">
        <i class="fa-solid fa-house"></i>
    </a>

    <a href="/search/">
        <i class="fa-solid fa-magnifying-glass"></i>
    </a>

    <a href="#" onclick="openUploadMenu()">
        <i class="fa-solid fa-circle-plus"></i>
    </a>

    <a href="/reels/">
        <i class="fa-solid fa-clapperboard"></i>
    </a>

    <a href="/profile/">
        <i class="fa-solid fa-user"></i>
    </a>

</div>

<div id="upload-menu"
     class="upload-menu"
     style="display:none;">

   <a href="/create-post/">
    <i class="fa-solid fa-image"></i> Post
</a>

<a href="/create-story/">
    <i class="fa-solid fa-circle-dot"></i> Story
</a>

<a href="#">
    <i class="fa-solid fa-video"></i> Reel
</a>
</div>

<input
    type="file"
    id="galleryInput"
    hidden
    accept="image/*,video/*">

    <script>
    let isLoggedIn = "{{ request.user.is_authenticated|yesno:'true,false' }}";
</script>
<script>
let uploadType = "";

function openUploadMenu(){

    if(isLoggedIn !== "true"){
        alert("Login to access all features");
        window.location.href = "/login/";
        return;
    }

    let menu = document.getElementById("upload-menu");

    if(menu.style.display === "none"){
        menu.style.display = "flex";
    } else {
        menu.style.display = "none";
    }
}

function openGallery(type){

    if(isLoggedIn !== "true"){
        alert("Login to access all features");
        window.location.href = "/login/";
        return;
    }

    uploadType = type;
    document.getElementById("galleryInput").click();
}



function likePost(postId){
    window.location.href = "/like-post/" + postId + "/";
}
</script>
</script>
<script>
document.getElementById("notification-btn").addEventListener("click", function(){

    let count = document.getElementById("notif-count");

    if(count){
        count.innerText = "0";
    }

});
</script>

{% if messages %}
    {% for message in messages %}
        <div class="alert-box">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<script>

function toggleMenu(postId){

    let menu = document.getElementById("menu-" + postId);

    if(menu.style.display === "block"){
        menu.style.display = "none";
    } else {
        menu.style.display = "block";
    }

}

</script>
</body>
</html>