{% load static %}

<!DOCTYPE html>
<html>
<head>

    <title>VIBELY</title>

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">
          {% load static %}

<link
    rel="icon"
    type="image/png"
    href="{% static 'images/favicon.png' %}">

</head>

<body>

<nav class="top-nav">

    <div class="logo">
        Vibely
    </div>
    

 {% if user.is_authenticated %}

<div class="top-right-section">
<a href="/notifications/"
   class="notification-btn">

    🔔

    <span
        class="notification-count"
        id="notification-count">

        {{ notification_count }}

    </span>

</a>

<a href="/messages/" class="chat-btn">
    💬
</a>

    <a href="/logout/" class="logout-btn">
        Logout
    </a>

    <a href="/profile/">
        <img
            src="{{ user.profile.profile_picture.url }}"
            class="nav-profile-pic">
    </a>

</div>

{% endif %}
</nav>

<div class="container">

   

    {% block content %}
    {% endblock %}

</div>

<script>

function toggleComments(postId){

    let comments =
    document.getElementById(
        "comments-" + postId
    );

    if(comments.style.display==="none"){

        comments.style.display="block";

    }else{

        comments.style.display="none";

    }
}

</script>

<div class="bottom-nav">

    <a href="/">🏠</a>

    <a href="/search/">🔍</a>

    <a href="#" onclick="openUploadMenu()">
        ➕
    </a>

    <a href="/reels/">🎥</a>

    <a href="/profile/">👤</a>

</div>

<div id="upload-menu"
     class="upload-menu"
     style="display:none;">

    <a href="/create-post/">
    📸 Post
</a>

   <a href="/create-story/">
    🔵 Story
</a>

    <a href="#"
       onclick="openGallery('reel')">
        🎥 Reel
    </a>

</div>

<input
    type="file"
    id="galleryInput"
    hidden
    accept="image/*,video/*">

<script>
let uploadType = "";

function openUploadMenu(){
    let menu = document.getElementById("upload-menu");
    if(menu.style.display === "none"){
        menu.style.display = "flex";
    } else {
        menu.style.display = "none";
    }
}

function openGallery(type){
    uploadType = type;
    document.getElementById("galleryInput").click();
}
</script><script>

// setInterval(() => {

//     fetch("/notification-count/")

//     .then(response => response.json())

//     .then(data => {

//         let bell =
//         document.getElementById(
//             "notification-count"
//         );

//         if(data.count > 0){

//             bell.innerText =
//             data.count;

//             bell.style.display =
//             "flex";

//         }

//         else{

//             bell.style.display =
//             "none";
//         }

//     });

// }, 2000);

</script>

</body>
</html>